@import "tailwindcss";

body {
      font-family: "Nunito Sans", sans-serif;
      background: #f1f1f1;
}
/* Biểu tượng chuông thông báo */
.MuiBadge-badge{ background: #ff5252 !important;}
/* tốc độ thanh trượt */
.ReactCollapse--collapse {
  transition: height 300ms;
}
.text-primary {
    color: #3872fa
    /* Màu đỏ hoặc bất kỳ màu nào bạn muốn */
}
.btn{
  padding: 8px 20px !important;
}
.btn-sm{
  padding: 6px 20px !important;
  font-size: 13px !important;
}
.btn-lg{
  padding: 8px 20px !important;
  font-size: 16px !important;
}
.btn-blue{
  background: #3872fa !important;
  color: #fff !important;
  padding: 8px 20px !important;
}
.btn-blue:hover{
  background: #3067e5 !important;
}

/* Thanh cuộn của trang web */
::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
}

::-webkit-scrollbar-thumb {
     background: #ccc;
}

th.MuiTableCell-root {
   @apply bg-[#f1f1f1] py-1;
}
/* phần đăng nhập */
a.active button {
  background: #e8e8e8 !important;
}

.MuiButton-icon svg{
  font-size: 27px !important;
}

.css-rizt0-MuiTypography-root {
  font-size: 14px !important;
}

.MuiAppBar-colorPrimary{
  background: #f5f6fa !important;
}

/* Thêm sản phẩm vào giỏ hàng */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.MuiSelect-select {
  background: #fff !important;
}
form input,
form textarea {
  background: #fff !important;
}

.MuiDialog-paper{
  background: #f9fafb !important;
}

/* code của hộp OTP */
.otpBox input{
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
    outline: none !important;
    border-radius: 4px;
}

.otpBox input:focus{
    border: 1px solid rgba(0, 0, 0, 0.7) !important;
}
.otpBox .container{
    height: 90vh;
    display: flex;
}

/* Đổi màu các thành phần xen kẻ */
.MuiTableBody-root tr:nth-child(even){@apply bg-gray-50}

/* button của xác minh email */
button .MuiCircularProgress-root {
  width: 30px !important;
  height: 30px !important;
}

/* code css của số điện thoại */
input[type="text"]:disabled , input[type="email"]:disabled {
  pointer-events: none;
  background: #dadada !important;
}
/* code chiều rộng của thanh số điện thoại mã định danh quốc gia  */
.react-international-phone-input {
  width: 100% !important;
}

.react-international-phone-country-selector-button {width: 55px !important;}
.react-international-phone-input-container {border: 1px solid rgba(0,0,0,0.1) !important;}

/* Bộ lọc ở Product */
.Mui-focused fieldset legend{display: none !important;}

/* code hình ảnh của ProductDetails */
.zoomProductSliderThumbs.space .swiper-wrapper {
   padding-top: 38px !important;
}

.zoomProductSliderThumbs .swiper-button-next{
    bottom: 0px !important;
    right: inherit !important;
    top: inherit !important;
    width: 100% !important;
    height: 30px !important;
    border-radius: 0px !important;
}
.zoomProductSliderThumbs .swiper-button-next:after{
    transform: rotate(90deg) ;
}
.zoomProductSliderThumbs .swiper-button-prev{
    top: 20px !important;
    left: 0 !important;
    width: 100% !important;
    height: 30px !important;
    border-radius: 0px !important;
}
.zoomProductSliderThumbs .swiper-button-prev:after{
    transform: rotate(90deg) ;
}

.swiper-slide .liz{height: 400px !important; overflow: hidden !important;}

/* Kích thước hình ảnh slider bên trái của ProductDetails */
.zoomProductSliderThumbs .swiper-slide{height: 90px !important; overflow: hidden; border-radius: 10px;}


/* Nút thanh trượt "<" ">" của slider - ProductDetails */
.swiper-button-prev,
.swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 100%;
    width: 45px;
    min-width: 45px;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 22px !important; 
    color: #000;
    opacity: 0.6; /* Làm mờ nút khi nhấp */
    transition: opacity 0.1s ease; /* Hiệu ứng chuyển đổi mượt */
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
    background: #ff5252 !important; /* Nền màu đỏ khi hover */
    opacity: 0.6; /* Làm mờ nút khi nhấp */
    transition: opacity 0.1s ease; /* Hiệu ứng chuyển đổi mượt */
   
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
    color: #fff !important; /* Màu chữ trắng khi hover */
    opacity: 0.6; /* Làm mờ nút khi nhấp */
    transition: opacity 0.1s ease; /* Hiệu ứng chuyển đổi mượt */
   
}

/* code của App.jsx .contentRight */
.contentRight{padding-top: 80px !important;}